body {
  margin: 0;
  background-color: blanchedalmond;
  height: 100vh;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "header header"
    "sidenav content"
    "footer footer";
}

#header, #content, #sidenav, #footer {
  border: 1px solid green;
}

#header {
  grid-area: header;
}
#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}
#footer {
  grid-area: footer;
}
#sidenav {
  grid-area: sidenav;
}

.block {
  width: 458px;
  height: 300px;
  border: 2px solid black;
  border-radius: 17px;
  padding: 20px;
  margin: 20px;
  background-color: burlywood;
}
ul li {
  list-style-type: none;
}

.corum {
  background-color: pink;

}

.cordois {
  background-color: hsla(240, 100%, 60%, 0.515);
}
.cortreis {
  background-color: rgb(44, 174, 44);
}
.corquatro {
  background-color: rgb(109, 83, 109);
}
.corcinco {
  background-color: rgb(245, 245, 32);
}
.corseis {
  background-color: rgb(248, 52, 52);
}